
WPFTest1/obj/Debug/MainWindow.baml
ToolsLibrary/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ToolsLibrary/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
ToolsLibrary/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
ToolsLibrary/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
ToolsLibrary/obj/Debug/ToolsLibrary.csproj.CoreCompileInputs.cache
ToolsLibrary/obj/Debug/ToolsLibrary.csprojResolveAssemblyReference.cache
WPFTest1/obj/Debug/MainWindow.baml
WPFTest1/obj/Debug/MainWindow.g.cs
WPFTest1/obj/Debug/MainWindow.g.i.cs
WPFTest1/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
WPFTest1/obj/Debug/WPFTest1.exe
WPFTest1/obj/Debug/WPFTest1.g.resources
WPFTest1/obj/Debug/WPFTest1.pdb
WPFTest1/obj/Debug/MainWindow.baml
WPFTest1/obj/Debug/MainWindow.g.cs
WPFTest1/obj/Debug/MainWindow.g.i.cs
WPFTest1/obj/Debug/WPFTest1.exe
WPFTest1/obj/Debug/WPFTest1.g.resources
WPFTest1/obj/Debug/WPFTest1.pdb
